Localization
{
	en-us
	{
		//"#LOC_KP_"
		
		//***Ones with career agencies***
		
		//Ferroquin
		#LOC_TripleDip_title = Triple-Dip Systems
		#LOC_TripleDip_descriiption = Triple-Dip Systems is currently under investigation by the Kerbal Space Centre for tax related offences.
		
		//MiffedStarfish
		#LOC_Gladia_title = Gladia Fleetworks
		#LOC_Gladia_descriiption = Gladia Fleetworks is a Zeoulian shipbuilding, naval technology and defense company.
		
		//Spartwo
		#LOC_Nujan_title = Nujan Dynamics Group
		#LOC_Nujan_descriiption = The Nujan Dynamics group is an Aontan defence manufacturer specialising in armored vehicle systems.
		
		//HatBat
		#LOC_MAS_title = Milik Avionic Systems
		#LOC_MAS_descriiption = Milik Avionic Systems is a Yantar aerospace company, specialising in missile and flight systems.
		
    }
}




