Localization
{
	en-us
	{
		//Leopard
		#LOC_KP_Leopard_title = J-808 "Leopard" Afterburning Turbofan
		#LOC_KP_Leopard_description = A high performance jet engine with sustained afterburning capacity. Perfect choice when brute force is required. Slow RPM change necessitates longer than usual takeoff roll and landing approaches.
		
		//Zephyr
		#LOC_KP_Zephyr_title = J-U16 “Zephyr” Unducted Turbofan
		#LOC_KP_Zephyr_description = An experiment in improving the efficiency of turbofan engines, this cumbersome propfan has 16 exterior fan blades. Triple-Dip Systems is not liable for injury or dismemberment.
		
		//Puma
		#LOC_KP_Puma_title = J-S485 "Puma" Afterburning Turbofan
		#LOC_KP_Puma_description = A high performance jet engine with 2d thrust vectoring.

		//Jaguar
		#LOC_KP_Jaguar_title = J-410 "Jaguar" Afterburning Turbofan
		#LOC_KP_Jaguar_description = A high performance jet engine with an afterburner.

		//Lion
		#LOC_KP_Lion_title = J-V491 "Lion" Vectored Afterburning Turbofan
		#LOC_KP_Lion_description = A very high performance jet engine with an afterburner and a three-bearing swivel nozzle for vertical takeoffs and landings.

		//InlineVentilation
		#LOC_KP_InlineVentilation_title = Inline Ventilation Fan Engine
		#LOC_KP_InlineVentilation_description = Repurposed from industrial HVAC equipment, this engine produces a great deal of cold thrust and is packaged for vertical integration into the fuselage of an aircraft.
    }
}




