Localization
{
	en-us
	{
		//Leopard
		#LOC_KP_Leopard_title = J-250 "Leopard" Afterburning Turbofan
		#LOC_KP_Leopard_description = A high performance jet engine with sustained afterburning capacity. Perfect choice when brute force is required. Slow RPM change necessitates longer than usual takeoff roll and landing approaches.
		
		//Tiger
		#LOC_KP_Tiger_title = J-28 "Tiger" Afterburning Turbofan
		#LOC_KP_Tiger_description = A high performance 0.625m jet engine, with a fixed nozzle and an afterburner for extra thrust.
		
		//Jolt
		#LOC_KP_Jolt_title = J-X5 "Jolt" Afterburning Turbofan
		#LOC_KP_Jolt_EJ_description = A highly advanced turbine engine using space-grade materials for very high performance. This compressed model operates best at higher altitudes and speeds but lacks the gimbal capacity of its predecessor. 
		
		//Zephyr
		#LOC_KP_Zephyr_title = J-U16 “Zephyr” Unducted Turbofan
		#LOC_KP_Zephyr_description = An experiment in improving the efficiency of turbofan engines, this cumbersome propfan has 16 exterior fan blades. Triple-Dip Systems is not liable for injury or dismemberment.
		
		//Puma
		#LOC_KP_Puma_title = J-S485 "Puma" Afterburning Turbofan
		#LOC_KP_Puma_description = A high performance jet engine with 2d thrust vectoring.

		//Jaguar
		#LOC_KP_Jaguar_title = J-410 "Jaguar" Afterburning Turbofan
		#LOC_KP_Jaguar_description = A high performance jet engine with a variable geometry thrust vectoring nozzle and an afterburner for extra thrust.

		//Lion
		#LOC_KP_Lion_title = J-V491 "Lion" Vectored Afterburning Turbofan
		#LOC_KP_Lion_description = A very high performance jet engine with an afterburner and a three-bearing swivel nozzle for vertical takeoffs and landings.

		//Grumble
		#LOC_KP_Grumble_title = J-9 "Grumble" Reversing Turbofan
		#LOC_KP_Grumble_description = A workhorse high-bypass turbofan wrapped in a pair of clamshell reverser buckets that might have seen better days. Deploying them turns the whole exhaust back on itself, which shortens a landing roll dramatically.

		//InlineVentilation
		#LOC_KP_InlineVentilation_title = Inline Lift Fan
		#LOC_KP_InlineVentilation_description = Repurposed from industrial HVAC equipment, this fan produces a great deal of cold thrust and is packaged for vertical integration into the fuselage of an aircraft.
    }
}




